.messageRestaurants__body {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 9px;
  width: fit-content;

  display: flex;

  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
}

.messageRestaurants__body div {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}

/* .messageRestaurants__body img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-top: 5px;
  border-radius: 10px;
} */
